@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">List of products</h1>
    
    <a asp-page="./Edit">Add</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th class="text-end">Price</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Category</td>
                <td class="text-end">@string.Format("{0:C}", p.Price)</td>
                <td><a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@p.Id">Edit</a></td>
                <td>
                    <a asp-page-handler="Delete" asp-route-id="@p.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>

