@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type 1</th>
                <th>Type 2</th>
                <th>Attack</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in Model.Pokemons)
            {
                <tr>
                    <td>@pokemon.Id</td>
                    <td>@pokemon.Name</td>
                    <td>@pokemon.Type1</td>
                    <td>@pokemon.Type2</td>
                    <td>@pokemon.Attack</td>
                    <td><a asp-page-handler="Banan" asp-route-jablko="@pokemon.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
